<template>
  <div id="chart">
    <canvas id="line-chart"></canvas>
  </div>
</template>

<script>
import Chart from 'chart.js'
import { lineChart } from '../../helpers/charts'

export default {
  name: 'line-chart',
  props: {
    dataChart: Array,
    company: String
  },
  data () {
    return {
      lineChart: lineChart,
      myChart: null
    }
  },
  methods: {
    createChart (chartId) {
      const ctx = document.getElementById(chartId)
      this.myChart = new Chart(ctx, {
        type: this.lineChart.type,
        data: this.formatData(),
        options: this.lineChart.options
      })
    },
    formatData () {
      let data = {
        labels: [],
        datasets: [
          {
            label: `Share price ${this.company}`,
            data: [],
            backgroundColor: 'white',
            borderColor: 'rgba(255,90,180,1)',
            borderWidth: 3,
            fill: false
          }
        ]
      }
      this.dataChart.forEach(item => {
        data.labels.push(item.time)
        data.datasets[0].data.push(item.data)
      })
      return data
    },
    updateChart () {
      this.myChart.data.labels.push(this.dataChart[this.dataChart.length - 1].time)
      this.myChart.data.datasets[0].data.push(this.dataChart[this.dataChart.length - 1].data)
      this.myChart.update()
    }
  },
  mounted () {
    this.createChart('line-chart')
  },
  watch: {
    dataChart: {
      handler: function (val, oldVal) {
        console.log('update values')
        this.$nextTick(() => {
          this.updateChart()
        })
      }
    }
  }
}
</script>
<style scoped lang="scss">
  canvas{
    max-width: 100%;
  }
</style>
