<template>
  <loading v-if="getStatus"></loading>
  <div v-else class="searcher">
    <h1>Companies</h1>
    <div class="searcher__content">
      <card v-for="(company, key) in companies"
            :logo="company.logo"
            :name="company.name"
            :description="company.description"
            :price="company.sharePrice"
            :company="company.id"
            :key="key">
      </card>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import Card from '@/components/card/Card.vue'
import Loading from '@/components/loader/Loading.vue'
import { CompaniesInfo } from '../../services/http/CompaniesInfo'

export default {
  name: 'searcher',
  components: {
    Card,
    Loading
  },
  data () {
    return {
      companies: []
    }
  },
  computed: {
    ...mapGetters('ui', ['getStatus'])
  },
  methods: {
    ...mapMutations('ui', ['setLoading'])
  },
  mounted () {
    this.setLoading(true)
    return new Promise((resolve, reject) => {
      CompaniesInfo.requestCompanies()
        .then((response) => {
          this.companies = response.data
          resolve(response)
        })
        .catch(error => {
          reject(error)
        })
        .finally(() => {
          this.setLoading(false)
        })
    })
  }
}
</script>

<style scoped lang="scss" src="./Searcher.scss"></style>
