@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";
.card{
  display: flex;
  width: px2rem(250);
  flex-wrap: wrap;
  justify-content: center;
  color: $black;
  background-color: $greyligther;
  border: 1px solid $greyligther;
  border-radius: 6px;
  height: px2rem(200);
  margin: px2rem(10);
  &__header{
    align-items: center;
    width: 100%;
    display: flex;
    margin: px2rem(10);
    &__logo{
      width: px2rem(50);
      height: px2rem(50);
      margin-right: px2rem(10);
      background-color: $blue;
      border-radius: 6px;
    }
    &__name{
      font-size: px2rem(20);
      margin: 0;
    }
  }
  &__actions{
    a{
      text-decoration: none;
      padding: px2rem(10);
      color: $white;
      background-color: $blue;
      border-radius: px2rem(20);
    }
  }
  &__price{
    font-size: px2rem(20);
    margin: 0 auto px2rem(20);
  }
}
