<template>
  <div class="card">
    <div class="card__header">
      <div class="card__header__logo">
        <img v-if="logo" :src="logo" alt="">
      </div>
      <p class="card__header__name">{{name}}</p>
      <p v-if="description" class="card_header__description">{{description}}</p>
    </div>
    <div class="card__actions">
      <p class="card__price">{{price}} €</p>
      <router-link :to="{ name: 'details', params: { company: company }}">view details</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'card',
  props: {
    logo: String,
    name: String,
    description: String,
    price: Number,
    company: Number
  }
}
</script>

<style scoped lang="scss" src="./Card.scss"></style>
