<template>
  <div id="app">
    <header>
      <h1>Front-End Test</h1>
    </header>
    <router-view/>
  </div>
</template>

<style lang="scss">
  @import "assets/styles/variables";
  @import "assets/styles/mixins";
  @import url('https://fonts.googleapis.com/css?family=Open+Sans');
  body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  }
  header{
    min-height: px2rem(40);
    background-color: $primary;
    h1{
      color: $white;
      margin: 0;
      padding: px2rem(10);
    }
  }

</style>
