<template>
  <loading v-if="getStatus"></loading>
  <div v-else class="details">
    <h2>Details:</h2>
    <div class="details__content">
      <p>Name: <span>{{name}} ({{ric}})</span> - Last price: <span>{{getLastPrice}} €</span></p>
      <p>Description: <span>{{description}}</span></p>
      <p>Country: <span>{{country}}</span></p>
    </div>
    <line-chart :dataChart="price" :company="name"></line-chart>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import Loading from '@/components/loader/Loading.vue'
import LineChart from '../../components/chart/LineChart'
import moment from 'moment'
import { CompaniesInfo } from '../../services/http/CompaniesInfo'

export default {
  name: 'detail',
  components: {
    LineChart,
    Loading
  },
  data () {
    return {
      name: '',
      description: '',
      ric: '',
      country: '',
      price: [],
      company: ''
    }
  },
  computed: {
    ...mapGetters('ui', ['getStatus']),
    getLastPrice () {
      return this.price[this.price.length - 1] ? this.price[this.price.length - 1].data : ''
    }
  },
  methods: {
    ...mapMutations('ui', ['setLoading']),
    updatePrice: function () {
      const idCompany = this.company
      return new Promise((resolve, reject) => {
        CompaniesInfo.requestCompaniesDetails(idCompany)
          .then(({ data }) => {
            this.price.push({ time: moment().format('h:mm:ss a'), data: data.sharePrice })
            resolve()
          })
          .catch(error => {
            reject(error)
          })
      })
    }
  },
  mounted () {
    this.setLoading(true)
    const idCompany = this.$route.params.company
    return new Promise((resolve, reject) => {
      CompaniesInfo.requestCompaniesDetails(idCompany)
        .then(({ data }) => {
          this.company = idCompany
          this.name = data.name
          this.ric = data.ric
          this.description = data.description
          this.country = data.country
          this.price.push({ time: moment().format('h:mm:ss a'), data: data.sharePrice })
          resolve()
        })
        .catch(error => {
          reject(error)
        })
        .finally(() => {
          this.setLoading(false)
          setInterval(() => this.updatePrice(), 15000)
        })
    })
  }
}
</script>

<style scoped lang="scss" src="./Details.scss"></style>
