@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.details{
  margin: px2rem(20);
  &__content{
    background-color: $greyligther;
    border-radius: 6px;
    padding: 20px;
    p{
      span{
        color: $darkgrey;
      }
    }
  }
}
